  <div class="user_post">
    <div class="user_profile">
    <h1><span class="user"><%= current_user.nickname %></span></h1>

      <ul>
        <li><%= current_user.counts.media %> posts</li>
        <li><%= current_user.counts.followed_by %> followers</li>
        <li><%= current_user.counts.follows %> following</li>
      </ul>
    </div>
    <div class="image">
      <% current_user.recent_media.each do |image| %>
        <%= image_tag image.images.low_resolution.url %>
      <% end %>
    </div>
  </div>

  <!--<div style='float:left;'><img src='#{media_item.images.thumbnail.url}'><br/> <a href='/media_like/#{media_item.id}'>Like</a>  <a href='/media_unlike/#{media_item.id}'>Un-Like</a>  <br/>LikesCount=#{media_item.likes[:count]}</div>-->

